*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --pink-border:#f6e3da
}

main{
    background: var(--main-color-2,whitesmoke);
    padding-bottom: 100px;
}


body {
    border: 10px solid var(--pink-border);
    box-sizing: border-box;
    /*disable content selection*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.container{
    padding: 1%;
    width: 80%;
    background-color: var(--main-color-1,#f6e3da);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: 10px double  burlywood;
    border-radius: 25px;
    margin-bottom: 30px;
}

.field{
    text-align: right;  
    margin-right: 5%;
    padding: 10px;
    margin-top: 40px;
}

.field h2 {
    margin-top: -20px;
}

.content{
    font-size: 18px;
}

.content p{
    text-align: right;
    line-height: 0.5em;
    margin: 10px 0 20px;
}

