<!doctype html>
<html>
    <head>
        <title>הרשמה לאירוע</title>
        <link rel="stylesheet" href="/group1/components/header/static/css/header.css">
        <link rel="stylesheet" href="/group1/pages/event_subscribe/static/css/event_subscribe.css">
        <link rel="stylesheet" href="/group1/components/footer/static/css/footer.css">
        <link rel="stylesheet" href="/group1/components/photo_title/static/css/photo_title.css">
        <script src="/group1/components/header/static/js/header.js"></script>
    </head>
    <body>
        <header>
            <div class="header_container">
                <div class="top-nav">
                    <a href="/group1/pages/cart/templates/cart.html">
                        <img src="/group1/components/header/static/img/shopping-bag.png" alt="cart" style="margin-right: 20px;">
                    </a>
                    <button class="open-button" onclick="openLoginForm()">
                        <img src="/group1/components/header/static/img/user.png" alt="login" >
                    </button>
                    
                    <a href="/group1/pages/favorites/templates/favorites.html">
                        <img src="/group1/components/header/static/img/favorite.png" alt="favorite" onmouseover="this.src='/group1/components/header/static/img/favorite_black.png'" onmouseout="this.src='/group1/components/header/static/img/favorite.png'">
                    </a>

                    <div class="form-popup" id="myForm">
                        <form class="form-container" action="/todo" method="signIn">
                            <h2>הרשמה</h2>   
                            <label class="lable" for="email"><b>אימייל</b></label>
                            <input type="text" placeholder="הכנס אימייל" name="email" id="email" required>
                            <label class="lable" for="psw"><b>סיסמה</b></label>
                            <input type="password" placeholder="הכנס סיסמה" name="psw" id="psw" required>
                            <button type="submit" class="btn">היכנס</button>
                            <p><span>או</span></p>
                            <button type="button" class="btn signup" onclick="location.href='/group1/pages/register/templates/register.html'">להרשמה</button>
                            <button type="button" class="btn cancel" onclick="closeLoginForm()">ביטול</button>                      
                        </form>
                    </div>
                </div>


                <h1>B-MINE</h1>
                <h3>BUY MY STYLE</h3>
                
                <nav>
                    <div class="nav-bar">
                        <a class="option" href="/group1/pages/home_page/templates/home_page.html">דף הבית</a>

                        <a class="option" href="/group1/pages/contact us/templates/contact_us.html" >צור קשר</a>

                        <a class="option" href="/group1/pages/who we are/templates/who_we_are.html">מי אנחנו</a>

                        <div class="dropdown option">
                            <i class="arrowDown"></i>
                            <p class="option">עוד</p>
                            <div class="dropdown-content">
                                <a href="/group1/pages/qa/templates/qa.html">שאלות נפוצות</a>
                                <a href="/group1/pages/terms_of_use/templates/terms_of_use.html">תקנון</a>
                                <a href="/group1/pages/Excange_Return/templates/exchange_returns.html">החלפות והחזרות</a>
                            </div>
                        </div>
                        
                        <a class="option" href="/group1/pages/events/templates/events.html">אירועים</a>
                        <a class="option" href="/group1/pages/sale/templates/sale.html">פריטי חיסול</a>

                    </div>
                    <hr>
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="title"><div class="bg-text">הרשמה לאירוע</div></div>
                <section class="start">
                    <h2>!אנחנו מתרגשות לארח אותך באירוע שלנו</h2>
                    <h3>.לקוחות אשר נרשמות לאירוע דרך האתר, נהנות מ-10% הנחה על קניה ראשונה באירוע</h3>
                    <h3>:פרטים על האירוע אותו בחרת</h3>
                </section>
                <section class="event_dateTime">
                    <p>האירוע יתקיים בתאריך</p>
                    <p id="eventDate">23.01.2021</p>
                    <p>בשעה</p>
                    <p id="startH">20:00</p>
                </section>
                <section class="event_place">
                    <p>בעיר</p>
                    <p id="eventCity">הרצליה</p>
                    <p>ברחוב</p>
                    <p id="eventCity">הפרח 23</p>
                </section>
                <section>
                    <h3>להרשמה מלאי את הפרטים שלך</h3>
                    <form method="post" action="/todo" class="info" >
                        <div class="detail">
                            <label for="firstname">שם פרטי</label>
                            <input class="input-info" type="text" id="fname" name="firstname" placeholder="הכנס שם פרטי" required>
                        </div>
        
                        <div class="detail">
                                <label for="lastname">שם משפחה</label>
                                <input class="input-info" type="text" id="lname" name="lastname" placeholder="הכנס שם משפחה" required>
                        </div>
        
                        <div class="detail">
                            <label for="email">אימייל</label>
                            <input class="input-info" type="email" id="e-mail" name="e-mail" placeholder="הכנס אימייל" required>
                        </div>
                        <div class="detail">
                            <label for="Comment">?איך שמעת על האירוע</label>
                            <textarea class="input-info" id="Comment" name="Comment" cols="40" rows="4" placeholder="תגובה">
                            </textarea>
                        </div>
                        <div class="button-submit">
                            <button type="submit" class="my-button boutique">הרשמה לאירוע</button>
                        </div>
                    </form>
                </section>
            </div>
        </main>
        <footer>
            <div class="links">
                <div class="footer-part">
                    <a class="op" href="/group1/pages/qa/templates/qa.html">שאלות נפוצות</a>
                    <a class="op" href="/group1/pages/contact us/templates/contact_us.html">צור קשר</a>
                    <a class="op" href="/group1/pages/terms_of_use/templates/terms_of_use.html">תקנון</a>
                </div>

                <div class="footer-part">
                    <a class="op" href="/group1/pages/who we are/templates/who_we_are.html">מי אנחנו</a>
                    <p class="Ftitle">אמצעי תשלום</p>
                    <img class="payment" src="/group1/components/footer/static/img/paypal.png" alt="paypal"/>
                    <img class="payment" src="/group1/components/footer/static/img/mastercard.png" alt="mastercard"/>
                    <img class="payment" src="/group1/components/footer/static/img/visa.png" alt="visa"/>
                    <img class="payment" src="/group1/components/footer/static/img/american-express.png" alt="american-express"/>
                </div>

                <div class="footer-part">
                    <p class="Ftitle">שירות לקוחות</p>
                    <div class="contactDetails">
                        <a class="op" href="tel:054-6798654">054-6798654</a>
                        <a class="op" href="mailto:bmine@gmail.com">bmine@gmail.com</a> 
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>