<!DOCTYPE html>
<html lang="he" dir="rtl">
     <head>
        <title>הפריט הנבחר</title>
        <link rel="stylesheet" href="/group1/components/header/static/css/header.css">
        <link rel="stylesheet" href="/group1/pages/products/static/css/product.css">
        <link rel="stylesheet" href="/group1/components/footer/static/css/footer.css">
        <script src="/group1/pages/products/static/js/product.js"></script>
    </head>
    <body>
        <header>
            <div class="header_container">
                <div class="top-nav">
                    <a href="/group1/pages/cart/templates/cart.html">
                        <img src="/group1/components/header/static/img/shopping-bag.png" alt="cart" style="margin-right: 20px;">
                    </a>
                    <button class="open-button" onclick="openLoginForm()">
                        <img src="/group1/components/header/static/img/user.png" alt="login" >
                    </button>
                    
                    <a href="/group1/pages/favorites/templates/favorites.html">
                        <img src="/group1/components/header/static/img/favorite.png" alt="favorite" onmouseover="this.src='/group1/components/header/static/img/favorite_black.png'" onmouseout="this.src='/group1/components/header/static/img/favorite.png'">
                    </a>

                    <div class="form-popup" id="myForm">
                        <form class="form-container" action="/todo" method="signIn">
                            <h2>הרשמה</h2>   
                            <label class="lable" for="email"><b>אימייל</b></label>
                            <input type="text" placeholder="הכנס אימייל" name="email" id="email" required>
                            <label class="lable" for="psw"><b>סיסמה</b></label>
                            <input type="password" placeholder="הכנס סיסמה" name="psw" id="psw" required>
                            <button type="submit" class="btn">היכנס</button>
                            <p><span>או</span></p>
                            <button type="button" class="btn signup" onclick="location.href='/group1/pages/register/templates/register.html'">להרשמה</button>
                            <button type="button" class="btn cancel" onclick="closeLoginForm()">ביטול</button>                      
                        </form>
                    </div>
                </div>


                <h1>B-MINE</h1>
                <h3>BUY MY STYLE</h3>
                
                <nav>
                    <div class="nav-bar">
                        <a class="option" href="/group1/pages/home_page/templates/home_page.html">דף הבית</a>

                        <a class="option" href="/group1/pages/contact us/templates/contact_us.html" >צור קשר</a>

                        <a class="option" href="/group1/pages/who we are/templates/who_we_are.html">מי אנחנו</a>

                        <div class="dropdown option">
                            <p class="option">עוד</p>
                            <i class="arrowDown"></i>
                            <div class="dropdown-content">
                                <a href="/group1/pages/qa/templates/qa.html">שאלות נפוצות</a>
                                <a href="/group1/pages/terms_of_use/templates/terms_of_use.html">תקנון</a>
                                <a href="/group1/pages/Excange_Return/templates/exchange_returns.html">החלפות והחזרות</a>
                            </div>
                        </div>
                        
                        <a class="option" href="/group1/pages/events/templates/events.html">אירועים</a>
                        <a class="option" href="/group1/pages/sale/templates/sale.html">פריטי חיסול</a>

                    </div>
                    <hr>
                </nav>
            </div>
        </header>
        <main>
            <div class= container>
                <div class="product-page">
                    <div class="photoContainer">
                        <div class="mySlides">
                            <img src="/group1/pages/products/static/img/שרשרת1.JPG" style="width:100%">
                        </div>
                        <div class="mySlides" style="display: none;" >
                            <img src="/group1/pages/products/static/img/שרשרת2.JPG" style="width:100%" >
                        </div>
                        <div class="mySlides" style="display: none;" >
                             <img src="/group1/pages/products/static/img/שרשרת3.JPG" style="width:100%">
                        </div>
                        <div class="row">
                            <div class="column">
                                <img class="product-page-photos" src="/group1/pages/products/static/img/שרשרת1.JPG" style="width:108%" onclick="currentSlide(1)" alt="1 אוברול">
                            </div>
                            <div class="column">
                                <img class="product-page-photos" src="/group1/pages/products/static/img/שרשרת2.JPG" style="width:108%" onclick="currentSlide(2)" alt="2 אוברול">
                            </div>
                            <div class="column">
                                <img class="product-page-photos" src="/group1/pages/products/static/img/שרשרת3.JPG" style="width:108%" onclick="currentSlide(3)" alt="3 אוברול">
                            </div>
                        </div>
                    </div>
                    <div class="discription"> 

                    <h2>שרשרת</h2>
                        <b>נמכר ע"י :</b>  Yarden Hochenberg
                        <br>
                        <b>מותג:</b> TOMER & ASAF 
                        <br>
                        <b>חומר :</b> ציפוי כסף 
                        <br><br>
                        20 ש"ח
                            <br><br>

                        <button class="add-to-cart" type="button" onclick="addMesage()">הוסף לסל</button>

                    </div>
                </div>
            </div>

            <div class=more>
                <h2>אולי תאהבי גם... </h2>
                <br>
                <div class= slott> <a href="/group1/pages/products/templates/product_dani4.html" ><img class=also src="/group1/pages/products/static/img/מגפון1.JPG" style="width:100%" ></a><b>מגפון שחור</b></div>
                <div class= slott> <a href="/group1/pages/products/templates/product_yarden2.html" ><img class=also src="/group1/pages/products/static/img/חצאית נחש3.JPG" style="width:100%" ></a><b>חצאית נחש</b></div>
                <div class= slott> <a href="/group1/pages/products/templates//product_roni1.html" ><img class=also src="/group1/pages/products/static/img/גינס2.JPG" style="width:100%" ></a><b>ג'ינס בהיר</b></div>
                <div class= slott> <a href="/group1/pages/products/templates//product_roni3.html" ><img class=also src="/group1/pages/products/static/img/טופ2.JPG" style="width:100%" ></a><b>טופ ספורט</b></div>
                <div class= slott><a href="/group1/pages/products/templates/product_michal3.html" ><img class=also src="/group1/pages/products/static/img/עקב1.jpeg" style="width:100%" ></a> <b>נעלי עקב</b></div>
                <div class= slott><a href="/group1/pages/products/templates/product_dani2.html" ><img class=also src="/group1/pages/products/static/img/גומיה3.JPG" style="width:100%" ></a><b>גומיה אופנתית</b> </div>

            </div>
        </main>
        <footer>
            <div class="links">
                <div class="footer-part">
                    <a class="op" href="/group1/pages/qa/templates/qa.html">שאלות נפוצות</a>
                    <a class="op" href="/group1/pages/contact us/templates/contact_us.html">צור קשר</a>
                    <a class="op" href="/group1/pages/terms_of_use/templates/terms_of_use.html">תקנון</a>
                </div>

                <div class="footer-part">
                    <a class="op" href="/group1/pages/who we are/templates/who_we_are.html">מי אנחנו</a>
                    <p class="Ftitle">אמצעי תשלום</p>
                    <img class="payment" src="/group1/components/footer/static/img/paypal.png" alt="paypal"/>
                    <img class="payment" src="/group1/components/footer/static/img/mastercard.png" alt="mastercard"/>
                    <img class="payment" src="/group1/components/footer/static/img/visa.png" alt="visa"/>
                    <img class="payment" src="/group1/components/footer/static/img/american-express.png" alt="american-express"/>
                </div>

                <div class="footer-part">
                    <p class="Ftitle">שירות לקוחות</p>
                    <div class="contactDetails">
                        <a class="op" href="tel:054-6798654">054-6798654</a>
                        <a class="op" href="mailto:bmine@gmail.com">bmine@gmail.com</a> 
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
