{% extends 'Yarden Hochenberg CV.html' %}
{% block remove1 %}
{% endblock %}
{% block remove2 %}
{% endblock %}
{% block remove3 %}
{% endblock %}
{% block remove4 %}
{% endblock %}
{% block remove5 %}
{% endblock %}
{% block remove6 %}
{% endblock %}
{% block remove7 %}
{% endblock %}
{% block hobbies %}
    <h3 class= "contents" onmouseover="style.color='black'" onmouseout="style.color='rgba(37, 12, 12, 0.5)'">My Hobbies</h3>
    <ol>
        {% for hobby in hobbies %}
            <li>{{ hobby | upper}}</li>
        {% endfor %}
    </ol>
{% endblock %}

