<!doctype html>
<html>
    <head>
        <title>Yarden Hochenberg CV</title>
        <link rel="stylesheet" href="Yarden Hochenberg CV.css">
        <script src="Yarden Hochenberg CV.js"></script>
    </head>
    <body onload="openningFunction()">
        <!-- openning -->
        <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p><b>Dear Guest,</b><br> My name is Yarden Hochenberg and I am a M.Sc. honor student in Industrial Engineering and Management within "Meitar" excellent program at Ben-Gurion University, specializing in Data science.<br>
                Highly motivated to engage with data analysis and integrate in the big data field. Always aiming to achieve excellence, <br>
                highly self-driven, self-learner and a strong team player. <br> Knowledgeable in SQL, Python, Java, R and MATLAB languages.</p>
        </div>

        </div>
        <!-- The CV header -->
        <header>
            <img id="mainPic" src="linkedin profile.JPG" alt="Can't load the image">
            <div id="name" style="display: inline-block;">
                <b>Yarden Hochenberg</b>
            </div>
            <div id="contact">
                <img src="telephone.png" alt="Can't load the image" width="20px" >
                <p id="telephone" style="display: inline-block;">050-8635558</p>
                <img src="email.png" alt="Can't load the image" width="20px">
                <a href="mailto:yardenho@gmail.com" target="_blank" style="display: inline-block;"><p id="email">yardenho@gmail.com</p></a>
                <img src="linkedin.png" alt="Can't load the image" width="20px">
                <a href="https://www.linkedin.com/in/yarden-hochenberg-41bb30193/" target="_blank">LinkedIn Profile</a>
            </div>
            <a id="bold" href="Yarden Hochenberg - CV.pdf" download="Yarden Hochenberg CV"><button id="bold" style="background-color: rgb(243, 213, 213);">Download to pdf</button></a>
        </header>

        <!-- content -->
        <div>
            <br><br><br><br><br><br><br><br><br><br><br>
            <!--Education-->
            <h3 class= "contents" onmouseover="style.color='black'" onmouseout="style.color='rgba(37, 12, 12, 0.5)'">Education</h3>
            <h1 class="dates">2020 - present:</h1>
            <p class="text"><b>M.Sc. in Industrial Engineering and Management</b> (specializing in Data science) from Ben-Gurion University of the Negev.
            <dl class="description">
                <dd>- In my Thesis I am developing a phenotypes prediction algorithm based on machine learning using genome big data.</dd>
            </dl>
            </p>
            <h1 class="dates">2017 - present:</h1>
            <p class="text"><b>B.Sc. in Industrial Engineering and Management</b> (specializing in Information Systems) from Ben-Gurion University of the Negev (graduating 2021).
            <dl class="description">
                <dd>-<b> GPA: 90.</b></dd>
                <dd>- <b>Received Honors</b> in the <a href="Certificate of Excellence first year.pdf" target="_blank" style="color: blue; display: inline-block; margin-top: -10px;"><p class="inTextLink">first</p></a>
                    and 
                    <a href="Certificate of Excellence second year.pdf" target="_blank" style="color: blue; display: inline-block; margin-top: -10px;"><p class="inTextLink">second</p></a>
                    year of my studies.</dd>
                <dd style="margin-top: -10px;">- Psychometric grade: 706.</dd>
            </dl>
            </p>

            
            <!--Skills-->
            <h3 class= "contents" onmouseover="style.color='black'" onmouseout="style.color='rgba(37, 12, 12, 0.5)'">Skills</h3>
            <ul>
                <li>Python</li> 
                <li>Java</li>
            </ul>
            <ul>
                <li>Machine Learning</li>
                <li>Statistics</li> 
            </ul>
            <ul>
                <li>R</li>
                <li>MATLAB</li>
            </ul>
            <ul>
                <li>SQL</li>
                <li>Word</li>
            </ul>
            <ul>
                <li>PowerPoint</li>
                <li>Excel</li>
            </ul>
            <ul>
                <li>HTML & CSS</li>
                <li>JavaScript</li>
            </ul>

            <!--Experience-->
            <h3 class= "contents" onmouseover="style.color='black'" onmouseout="style.color='rgba(37, 12, 12, 0.5)'">Experience </h3>
            <h1 class="dates">2020 - present:</h1>
            <p class="text"><b>Teaching Assistant in "Databases" course</b> – SQL language, Ben-Gurion University of the Negev.</p>
            <h1 class="dates">2020 - present:</h1>
            <p class="text"><b>"Disco – Data Science Community (BGU)" community manager</b> – a community established by
                students with the aim of providing exposure to the field of Data Science: lectures, jobs, hackathons 
                and data scientist in the industry.
                <a href="https://www.facebook.com/groups/DiSCoBGU" target="_blank" style="color: blue; display: inline-block;"><p class="text">Community page</p></a>
            </p>
            <h1 class="dates">2019 - 2020:</h1>
            <p class="text"><b>Analyst Research Assistant</b> in Urban Metabolism, Ben-Gurion University of the Negev.</p>
            <dl class="description">
                <dd>- Using data to create information systems with MATLAB programming language.</dd>
                <dd>- Performs statistical analysis of urban consumption and waste generation in Tel Aviv.</dd>
            </dl>
            <h1 class="dates">2019 - 2020:</h1>
            <p class="text">Private tutor in "Databases" course – SQL language, teaching the construction and management of databases.</p>
            <h1 class="dates">2018 - 2020:</h1>
            <p class="text">Private tutor in "Introduction to Java Programming" course – Aiding students with their programming studies.</p>
                
            <!--Projects-->
            <h3 class= "contents" onmouseover="style.color='black'" onmouseout="style.color='rgba(37, 12, 12, 0.5)'">Projects</h3>
            <dl class="description">
            <dl class="list">
                <dd>- Facebook Israel Virtual Hackathon.</dd>
            </dl>

            <!--Volunteering-->
            <h3 class= "contents" onmouseover="style.color='black'" onmouseout="style.color='rgba(37, 12, 12, 0.5)'">Volunteering</h3>
            <h1 class="dates">2004 - 2012:</h1>
            <p class="text"><b>"Scouts" youth movement member</b> at "Aviv" tribe – counseling for a year in "Beit HaYeled" boarding school in Tel Aviv and instructing children with special needs.</p>                 

            <h1 class="dates">2001 - 2012:</h1>
            <p class="text"><b>Member of Israel's National Team</b> in gymnastics and acrobatics – Representing Israel in European and World Championships.</p>
                
            <!--Military Service-->
            <h3 class= "contents" onmouseover="style.color='black'" onmouseout="style.color='rgba(37, 12, 12, 0.5)'">Military Service</h3>
            <h1 class="dates">2013 - 2015:</h1>
            <p class="text">Combat Fitness Instructor, School for Commander and Infantry, Israel Defense Forces.</p>

            <!--Languages-->
            <h3 class= "contents" onmouseover="style.color='black'" onmouseout="style.color='rgba(37, 12, 12, 0.5)'">Languages</h3>
            <dl class="list">
                <dd>- Hebrew: Native Speaker.</dd>
                <dd>- English: Very High Proficiency.</dd>
            </dl>
        </div>


        <!--form-->
        <button class="open-button" onclick="openForm()">Contact Me</button>

        <div class="form-popup" id="myForm">
            <form class="form-container" name="frm">
                <h1>Contact Details:</h1>
                <label for="CompanyName"><b>Company Name</b></label>
                <input type="text" placeholder="Enter Company Name" name="Company Name">

                <label for="Full Name"><b>Full Name</b></label>
                <input type="text" placeholder="Enter Full Name" name="Full Name">

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email">

                <label for="Phone Number"><b>Phone Number</b></label>
                <input type="text" placeholder="Enter Phone Number" name="Phone Number" required>

                <button type="submit" class="btn" onclick="thankyouFunction()">Submit</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
    </body>
</html>