<!DOCTYPE html>
<html lang="he" dir="rtl">
     <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <title>מי אנחנו?</title>
        <link rel="stylesheet" href="/group1/components/header/static/css/header.css">
        <link rel="stylesheet" href="/group1/pages/who we are/static/css/who_we_are.css">
        <link rel="stylesheet" href="/group1/components/footer/static/css/footer.css">
        <link rel="stylesheet" href="/group1/components/photo_title/static/css/photo_title.css">
        <script src="/group1/components/header/static/js/header.js"></script>
    </head>
    <body>
        <header>
            <div class="header_container">
                <div class="top-nav">
                    <a href="/group1/pages/cart/templates/cart.html">
                        <img src="/group1/components/header/static/img/shopping-bag.png" alt="cart" style="margin-right: 20px;">
                    </a>
                    <button class="open-button" onclick="openLoginForm()">
                        <img src="/group1/components/header/static/img/user.png" alt="login" >
                    </button>
                    
                    <a href="/group1/pages/favorites/templates/favorites.html">
                        <img src="/group1/components/header/static/img/favorite.png" alt="favorite" onmouseover="this.src='/group1/components/header/static/img/favorite_black.png'" onmouseout="this.src='/group1/components/header/static/img/favorite.png'">
                    </a>

                    <div class="form-popup" id="myForm">
                        <form class="form-container" action="/todo" method="signIn">
                            <h2>הרשמה</h2>   
                            <label class="lable" for="email"><b>אימייל</b></label>
                            <input type="text" placeholder="הכנס אימייל" name="email" id="email" required>
                            <label class="lable" for="psw"><b>סיסמה</b></label>
                            <input type="password" placeholder="הכנס סיסמה" name="psw" id="psw" required>
                            <button type="submit" class="btn">היכנס</button>
                            <p><span>או</span></p>
                            <button type="button" class="btn signup" onclick="location.href='/group1/pages/register/templates/register.html'">להרשמה</button>
                            <button type="button" class="btn cancel" onclick="closeLoginForm()">ביטול</button>                      
                        </form>
                    </div>
                </div>


                <h1>B-MINE</h1>
                <h3>BUY MY STYLE</h3>
                
                <nav>
                    <div class="nav-bar">
                        <a class="option" href="/group1/pages/home_page/templates/home_page.html">דף הבית</a>

                        <a class="option" href="/group1/pages/contact us/templates/contact_us.html" >צור קשר</a>

                        <a class="option" href="/group1/pages/who we are/templates/who_we_are.html">מי אנחנו</a>

                        <div class="dropdown option">
                            <p class="option">עוד</p>
                            <i class="arrowDown"></i>
                            <div class="dropdown-content">
                                <a href="/group1/pages/qa/templates/qa.html">שאלות נפוצות</a>
                                <a href="/group1/pages/terms_of_use/templates/terms_of_use.html">תקנון</a>
                                <a href="/group1/pages/Excange_Return/templates/exchange_returns.html">החלפות והחזרות</a>
                            </div>
                        </div>
                        
                        <a class="option" href="/group1/pages/events/templates/events.html">אירועים</a>
                        <a class="option" href="/group1/pages/sale/templates/sale.html">פריטי חיסול</a>

                    </div>
                    <hr>
                </nav>
            </div>
        </header>
    <body>
        <main>
            <div class= container>
                <div class="title"><div class="bg-text">אז מי אנחנו?</div></div>
                <div class= text1>
                    <h2>פלטפורמה לקניה ומכירה של פרטי אופנה</h2>
                    <p>בגדי מעצבים ( מקוריים! ), וינטאג', פיסים מקוריים, אופנת רחוב, אופנת ערב, נעליים, תכשיטים ועוד... חדש ויד שניה.</p>
                    <p>כל אחת אצלנו יכולה למצוא את הפרטים שמתאימים לסטייל האישי שלה</p>
                    <p> ולתת לאחרות להנות מהפריטים הכי שווים שאספת </p>
                    <h3>כאן תוכלו, לקבל השראה, לעקוב אחרי פאשניסטיות, לקנות ולמכור פריטי אופנה בת קיימא, או עיצובים חדשים שברשותכם.</h3>
                </div>
                <div class= pic>
                    <img class="product-page-photos"src="/group1/pages/who we are/static/img/fashenista1.jpeg"  >
                    <img class="product-page-photos"src="/group1/pages/who we are/static/img/fashenista4.jpeg"  >
                    <img class="product-page-photos"src="/group1/pages/who we are/static/img/fashenista3.jpeg"  >
                    <img class="product-page-photos" src="/group1/pages/who we are/static/img/fashenista6.jpeg" >
                </div>
                <div class= text2>
                    <h2>הקהילה שלנו</h2>
                    <p>הקהילה שלנו מורכבת מ: מעצבים, אספנים, אספני וינטאג', אוהבי עיצוב, אוהבי אופנה,</p>
                    <p>אומנות, מחפשי הזדמנויות, משפיעניות ומובילות דעה בתחום האופנה וכל מי שאוהב אופנה</p>
                    <h2>הרעיון</h2> 
                    <p>מה יותר טוב משמירה על איכות הסביבה ואופנה במקום אחד</p>

                    <p>מכאן נולד הרעיון,</p>
                    <p>לכל אחת מאיתנו יש קצת יותר מידי בגדים בארון</p>
                    <p>בגדים יפים, חלקם כמעט חדשים, חלקם כבר לא מוצאים חן בעיננו</p>
                    <p>אך לכל אחת מאיתנו סטייל שונה, ואולי הבגד שלי כבר נמאס ממנו יכול להפך לפיס הכי יפה בארון של חברה אחרת?</p>
                    <p>מה יותר טוב מזה?</p>
                    <p>אז הקמנו פלטפורמה שתעשה לכולנו חיים קלים יותר!</p>
                    <h2>
                        רוצה להיות חלק מהשינוי? את קוראת את הרעיון שלנו ואומרת איך לא חשבו על זה קודם? <br>
                        את כבר מדמיינת בראש איזה בגדים את יכולה למכור אצלנו? או לא יכולה לחכות לראות את שלל הסטיילים שאנחנו מציאות?
                        <br><br>
                        הירשמי והצטרפי לקהילה שלנו
                    </h2>
                    <h3>  מחכות לך  ♥</h3>
                </div>     
            </div>
        </main>
        <footer>
            <div class="links">
                <div class="footer-part">
                    <a class="op" href="/group1/pages/qa/templates/qa.html">שאלות נפוצות</a>
                    <a class="op" href="/group1/pages/contact us/templates/contact_us.html">צור קשר</a>
                    <a class="op" href="/group1/pages/terms_of_use/templates/terms_of_use.html">תקנון</a>
                </div>

                <div class="footer-part">
                    <a class="op" href="/group1/pages/who we are/templates/who_we_are.html">מי אנחנו</a>
                    <p class="Ftitle">אמצעי תשלום</p>
                    <img class="payment" src="/group1/components/footer/static/img/paypal.png" alt="paypal"/>
                    <img class="payment" src="/group1/components/footer/static/img/mastercard.png" alt="mastercard"/>
                    <img class="payment" src="/group1/components/footer/static/img/visa.png" alt="visa"/>
                    <img class="payment" src="/group1/components/footer/static/img/american-express.png" alt="american-express"/>
                </div>

                <div class="footer-part">
                    <p class="Ftitle">שירות לקוחות</p>
                    <div class="contactDetails">
                        <a class="op" href="tel:054-6798654">054-6798654</a>
                        <a class="op" href="mailto:bmine@gmail.com">bmine@gmail.com</a> 
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>