<!DOCTYPE html>
<html lang="he" dir="rtl">
    <head>
        <title>דף הבית</title>
        <meta charset="UTF-8">
        <meta name="author" content="group 1">
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <link rel="stylesheet" href="/group1/pages/home_page/static/css/home_page.css">
        <link rel="stylesheet" href="/group1/components/header/static/css/header.css">
        <link rel="stylesheet" href="/group1/components/footer/static/css/footer.css">
        <link rel="stylesheet" href="/group1/components/photo_title/static/css/photo_title.css">
        <script src="/group1/pages/home_page/static/js/home_page.js"></script>
        <script src="/group1/components/header/static/js/header.js"></script>

    </head>
    <body>
        <header>
            <div class="header_container">
                <div class="top-nav">
                    <a href="/group1/pages/cart/templates/cart.html">
                        <img src="/group1/components/header/static/img/shopping-bag.png" alt="cart" style="margin-right: 20px;">
                    </a>
                    <button class="open-button" onclick="openLoginForm()">
                        <img src="/group1/components/header/static/img/user.png" alt="login" >
                    </button>
                    
                    <a href="/group1/pages/favorites/templates/favorites.html">
                        <img src="/group1/components/header/static/img/favorite.png" alt="favorite" onmouseover="this.src='/group1/components/header/static/img/favorite_black.png'" onmouseout="this.src='/group1/components/header/static/img/favorite.png'">
                    </a>

                    <div class="form-popup" id="myForm">
                        <form class="form-container" action="/todo" method="signIn">
                            <h2>הרשמה</h2>   
                            <label class="lable" for="email"><b>אימייל</b></label>
                            <input type="text" placeholder="הכנס אימייל" name="email" id="email" required>
                            <label class="lable" for="psw"><b>סיסמה</b></label>
                            <input type="password" placeholder="הכנס סיסמה" name="psw" id="psw" required>
                            <button type="submit" class="btn">היכנס</button>
                            <p><span>או</span></p>
                            <button type="button" class="btn signup" onclick="location.href='/group1/pages/register/templates/register.html'">להרשמה</button>
                            <button type="button" class="btn cancel" onclick="closeLoginForm()">ביטול</button>                      
                        </form>
                    </div>
                </div>


                <h1>B-MINE</h1>
                <h3>BUY MY STYLE</h3>
                
                <nav>
                    <div class="nav-bar">
                        <a class="option" href="/group1/pages/home_page/templates/home_page.html">דף הבית</a>

                        <a class="option" href="/group1/pages/contact us/templates/contact_us.html" >צור קשר</a>

                        <a class="option" href="/group1/pages/who we are/templates/who_we_are.html">מי אנחנו</a>

                        <div class="dropdown option">
                            <p class="option">עוד</p>
                            <i class="arrowDown"></i>
                            <div class="dropdown-content">
                                <a href="/group1/pages/qa/templates/qa.html">שאלות נפוצות</a>
                                <a href="/group1/pages/terms_of_use/templates/terms_of_use.html">תקנון</a>
                                <a href="/group1/pages/Excange_Return/templates/exchange_returns.html">החלפות והחזרות</a>
                            </div>
                        </div>
                        
                        <a class="option" href="/group1/pages/events/templates/events.html">אירועים</a>
                        <a class="option" href="/group1/pages/sale/templates/sale.html">פריטי חיסול</a>

                    </div>
                    <hr>
                </nav>
            </div>
        </header>
        <main>
            <div class="slideshow-container">
                <div class="title"><div class="bg-text">הבנות שלנו</div></div>

                <div class="mySlides" >
                    <div class="gallery1">
                        <a  href="/group1/pages/closet/templates/closet1.html"><img src="/group1/pages/home_page/static/img/michal.jpeg" alt="Michal Levy" ></a>
                        <p class="desc">Michal Levy </p>
                    </div>
                    <div class="gallery1">
                        <a  href="/group1/pages/closet/templates/closet2.html"><img src="/group1/pages/home_page/static/img/roni.jpeg" alt="Roni Rabinovich" ></a>
                        <p class="desc">Roni Rabinovich </p>
                    </div>
                    <div class="gallery1">
                        <a  href="/group1/pages/closet/templates/closet3.html"><img src="/group1/pages/home_page/static/img/danielle.jpeg" alt="Danielle Kazantini" ></a>
                        <p class="desc">Danielle Kazantini </p>
                    </div>

                    <a class="prev" onclick="plusSlides(-1)"><</a>                
                    <a class="next" onclick="plusSlides(1)">></a> 

                    <div class="gallery1">
                        <a  href="/group1/pages/closet/templates/closet4.html"> <img src="/group1/pages/home_page/static/img/yarden.jpeg" alt="Yarden Hochenberg" ></a>
                        <p class="desc">Yarden Hochenberg </p>
                    </div>
                    <div class="gallery1">
                        <a  href="/group1/pages/closet/templates/closet1.html">  <img src="/group1/pages/home_page/static/img/maya.jpeg" alt="Maya Dvash" ></a>
                        <p class="desc">Maya Dvash </p>
                    </div>
                    <div class="gallery1">
                        <a  href="/group1/pages/closet/templates/closet1.html">  <img src="/group1/pages/home_page/static/img/hadar.jpeg" alt="Hadar Greener" ></a>
                        <p class="desc">Hadar Greener </p>
                        </div>    
                    </div>
                    <div class="mySlides" style="display: none;">
                        <div class="gallery1">
                            <a  href="/group1/pages/closet/templates/closet1.html"> <img src="/group1/pages/home_page/static/img/ori.jpeg" alt="Ori Klier" ></a>
                            <p class="desc">Ori Klier</p>
                        </div>
                        <div class="gallery1">
                            <a  href="/group1/pages/closet/templates/closet1.html">  <img src="/group1/pages/home_page/static/img/dar.jpeg" alt="Dar Pelta" ></a>
                            <p class="desc">Dar Pelta </p>
                        </div>
                        <div class="gallery1">
                            <a  href="/group1/pages/closet/templates/closet1.html">  <img src="/group1/pages/home_page/static/img/lian.jpeg" alt="Lian Simon" ></a>
                            <p class="desc">Lian Simon </p>
                        </div>
    
                        <a class="prev" onclick="plusSlides(-1)"><</a>                
                        <a class="next" onclick="plusSlides(1)">></a> 
    
                        <div class="gallery1">
                            <a  href="/group1/pages/closet/templates/closet1.html"> <img src="/group1/pages/home_page/static/img/sapir.jpeg" alt="Sappir Gali" ></a>
                            <p class="desc">Sappir Gali </p>
                        </div>
                        <div class="gallery1">
                            <a  href="/group1/pages/closet/templates/closet1.html">  <img src="/group1/pages/home_page/static/img/omer.jpeg" alt="Omer Yakobi" ></a>
                            <p class="desc">Omer Yakobi </p>
                        </div>
                        <div class="gallery1">
                            <a  href="/group1/pages/closet/templates/closet1.html">  <img src="/group1/pages/home_page/static/img/dorin.jpeg" alt="Dorin Torjeman" ></a>
                            <p class="desc">Dorin Torjeman </p>
                            </div>
                        </div>
                    
                </div>
                
                </div>

        </main>
        <footer>
            <div class="links">
                <div class="footer-part">
                    <a class="op" href="/group1/pages/qa/templates/qa.html">שאלות נפוצות</a>
                    <a class="op" href="/group1/pages/contact us/templates/contact_us.html">צור קשר</a>
                    <a class="op" href="/group1/pages/terms_of_use/templates/terms_of_use.html">תקנון</a>
                </div>

                <div class="footer-part">
                    <a class="op" href="/group1/pages/who we are/templates/who_we_are.html">מי אנחנו</a>
                    <p class="Ftitle">אמצעי תשלום</p>
                    <img class="payment" src="/group1/components/footer/static/img/paypal.png" alt="paypal"/>
                    <img class="payment" src="/group1/components/footer/static/img/mastercard.png" alt="mastercard"/>
                    <img class="payment" src="/group1/components/footer/static/img/visa.png" alt="visa"/>
                    <img class="payment" src="/group1/components/footer/static/img/american-express.png" alt="american-express"/>
                </div>

                <div class="footer-part">
                    <p class="Ftitle">שירות לקוחות</p>
                    <div class="contactDetails">
                        <a class="op" href="tel:054-6798654">054-6798654</a>
                        <a class="op" href="mailto:bmine@gmail.com">bmine@gmail.com</a> 
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
