<!doctype html>
<html>
    <head>
        <title>Footer</title>
        <link rel="stylesheet" href="/group1/components/footer/static/css/footer.css">
    </head>
    <body>
        <footer>
            <div class="links">
                <div class="footer-part">
                    <a class="op" href="/group1/pages/qa/templates/qa.html">שאלות נפוצות</a>
                    <a class="op" href="/group1/pages/contact us/templates/contact_us.html">צור קשר</a>
                    <a class="op" href="/group1/pages/terms_of_use/templates/terms_of_use.html">תקנון</a>
                </div>

                <div class="footer-part">
                    <a class="op" href="/group1/pages/who we are/templates/who_we_are.html">מי אנחנו</a>
                    <p class="Ftitle">אמצעי תשלום</p>
                    <img class="payment" src="/group1/components/footer/static/img/paypal.png" alt="paypal"/>
                    <img class="payment" src="/group1/components/footer/static/img/mastercard.png" alt="mastercard"/>
                    <img class="payment" src="/group1/components/footer/static/img/visa.png" alt="visa"/>
                    <img class="payment" src="/group1/components/footer/static/img/american-express.png" alt="american-express"/>
                </div>

                <div class="footer-part">
                    <p class="Ftitle">שירות לקוחות</p>
                    <div class="contactDetails">
                        <a class="op" href="tel:054-6798654">054-6798654</a>
                        <a class="op" href="mailto:bmine@gmail.com">bmine@gmail.com</a> 
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>